.perk-row-1,
.perk-row-2 {
  display: flex;
  margin: auto;
  justify-content: center;
}

.controls {
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px;
  background-color: #121212;
  padding: 15px 5px;
  width: 160px;
  margin: 10px 10px 30px;
}

.controls:hover {
  background-color: #1d1d1d;
}

.auth-link {
  margin-bottom: 10px;
}

.auth-link a {
  color: #e26c6c;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 0.8rem;
}

.auth-link a:hover {
  color: #fefefe;
}
