body {
  background-color: #000000;
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  border-bottom: 1px solid #fefefe;
  padding: 15px;
  align-self: center;
  align-items: center;
  margin-bottom: 30px;
}

.header-image {
  width: 100px;
  align-self: center;
}

.header span {
  width: 15vw;
}

h1,
h2 {
  font-weight: 100;
}

.header button {
  background-color: transparent;
  color: #e26c6c;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.header button:hover {
  color: #fefefe;
}

.header span a {
  color: #e26c6c;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.header a:hover {
  color: #fefefe;
}

.header a {
  color: #fefefe;
  font-family: 'Roboto';
  letter-spacing: 1px;
  text-decoration: none;
}

.header a:hover {
  font-weight: bold;
}
